In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, lower, from_json, sum, when, lit, split, udf, trim, regexp_replace  # common function
from pyspark.sql.functions import date_format,from_unixtime, to_timestamp  # date function

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DoubleType

### Set up SPARK SESSION

In [ ]:
conf = (
    pyspark.SparkConf().setAppName('cc_credit_card_transformation')
    .set("spark.executor.memory", "16g")
)

In [ ]:
spark = SparkSession.builder.config(conf=conf).getOrCreate()
df = spark.read.json('raw_cc_credit_card/raw_cc_credit_card')

### Exploratory Data Analysis

This section performs EDA on the source dataset to understand distributions, detect anomalies, and identify data quality issues.

In [4]:
df.printSchema()

root
 |-- Unnamed: 0: string (nullable = true)
 |-- amt: string (nullable = true)
 |-- category: string (nullable = true)
 |-- cc_bic: string (nullable = true)
 |-- cc_num: string (nullable = true)
 |-- is_fraud: string (nullable = true)
 |-- merch_eff_time: string (nullable = true)
 |-- merch_last_update_time: string (nullable = true)
 |-- merch_lat: string (nullable = true)
 |-- merch_long: string (nullable = true)
 |-- merch_zipcode: string (nullable = true)
 |-- merchant: string (nullable = true)
 |-- personal_detail: string (nullable = true)
 |-- trans_date_trans_time: string (nullable = true)
 |-- trans_num: string (nullable = true)

In [5]:
# check top 5 record of the dataframe
# Dataframe contain nested json 
df.show(5)
print(f'ROW COUNT: {df.count()}')

+----------+------+-------------+-----------+----------------+--------+----------------+----------------------+------------------+-----------+-------------+--------------------+--------------------+---------------------+--------------------+
|Unnamed: 0|   amt|     category|     cc_bic|          cc_num|is_fraud|  merch_eff_time|merch_last_update_time|         merch_lat| merch_long|merch_zipcode|            merchant|     personal_detail|trans_date_trans_time|           trans_num|
+----------+------+-------------+-----------+----------------+--------+----------------+----------------------+------------------+-----------+-------------+--------------------+--------------------+---------------------+--------------------+
|         0|  4.97|     misc_net|CITIUS33CHI|2703186189652095|       0|1325376018798532|         1325376018666|         36.011293| -82.048315|        28705|fraud_Rippin, Kub...|{"person_name":"J...|  2019-01-01 00:00:18|0b242abb623afc578...|
|         1|107.23|  grocery_pos|   ADMDUS41|    630423337322|       0|1325376044867960|          132537604479|49.159046999999994|-118.186462|         NULL|fraud_Heller, Gut...|{"person_name":"S...|  2019-01-01 00:00:44|1f76529f857473494...|
|         2|220.11|entertainment|       Null|  38859492057661|       0|1325376051506840|         1325376051286|         43.150704|-112.154481|        83236|fraud_Lind-Buckridge|{"person_name":"E...|  2019-01-01 00:00:51|a1a22d70485983eac...|
|         3|  45.0|gas_transport|DEUTUS33TRF|3534093764340240|       0|1325376076794698|         1325376076365|         47.034331|-112.561071|         NULL|fraud_Kutch, Herm...|{"person_name":"J...|  2019-01-01 00:01:16|6b849c168bdad6f86...|
|         4| 41.96|     misc_pos|   APBCUS61| 375534208663984|       0|1325376186746376|          132537618681|         38.674999| -78.632459|        22844| fraud_Keeling-Crist|{"person_name":"T...|  2019-01-01 00:03:06|a41d7549acf907893...|
+----------+------+-------------+-----------+----------------+--------+----------------+----------------------+------------------+-----------+-------------+--------------------+--------------------+---------------------+--------------------+
only showing top 5 rows

ROW COUNT: 1296675

In [6]:
# select top 10 of nest json
df.select('personal_detail').show(10,truncate=False)

+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|personal_detail                                                                                                                                                                                                                                                                      |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|{"person_name":"Jennifer,Banks,eeeee","gender":"F","address":"{\"street\":\"561 Perry Cove\",\"city\":\"Moravian Falls\",\"state\":\"NC\",\"zip\":\"28654\"}","lat":"36.0788","long":"-81.1781","city_pop":"3495","job":"Psychologist, counselling","dob":"1988-03-09"}              |
|{"person_name":"Stephanie,Gill,eeeee","gender":"F","address":"{\"street\":\"43039 Riley Greens Suite 393\",\"city\":\"Orient\",\"state\":\"WA\",\"zip\":\"99160\"}","lat":"48.8878","long":"-118.2105","city_pop":"149","job":"Special educational needs teacher","dob":"1978-06-21"}|
|{"person_name":"Edward@Sanchez","gender":"M","address":"{\"street\":\"594 White Dale Suite 530\",\"city\":\"Malad City\",\"state\":\"ID\",\"zip\":\"83252\"}","lat":"42.1808","long":"-112.262","city_pop":"4154","job":"Nature conservation officer","dob":"1962-01-19"}            |
|{"person_name":"Jeremy/White, !","gender":"M","address":"{\"street\":\"9443 Cynthia Court Apt. 038\",\"city\":\"Boulder\",\"state\":\"MT\",\"zip\":\"59632\"}","lat":"46.2306","long":"-112.1138","city_pop":"1939","job":"Patent attorney","dob":"1967-01-12"}                      |
|{"person_name":"Tyler@Garcia","gender":"M","address":"{\"street\":\"408 Bradley Rest\",\"city\":\"Doe Hill\",\"state\":\"VA\",\"zip\":\"24433\"}","lat":"38.4207","long":"-79.4629","city_pop":"99","job":"Dance movement psychotherapist","dob":"1986-03-28"}                       |
|{"person_name":"Jennifer,Conner,eeeee","gender":"F","address":"{\"street\":\"4655 David Island\",\"city\":\"Dublin\",\"state\":\"PA\",\"zip\":\"18917\"}","lat":"40.375","long":"-75.2045","city_pop":"2158","job":"Transport planner","dob":"1961-06-19"}                           |
|{"person_name":"Kelsey, , Richards NOOOO","gender":"F","address":"{\"street\":\"889 Sarah Station Suite 624\",\"city\":\"Holcomb\",\"state\":\"KS\",\"zip\":\"67851\"}","lat":"37.9931","long":"-100.9893","city_pop":"2691","job":"Arboriculturist","dob":"1993-08-16"}             |
|{"person_name":"Steven, Williams","gender":"M","address":"{\"street\":\"231 Flores Pass Suite 720\",\"city\":\"Edinburg\",\"state\":\"VA\",\"zip\":\"22824\"}","lat":"38.8432","long":"-78.6003","city_pop":"6018","job":"Designer, multimedia","dob":"1947-08-21"}                  |
|{"person_name":"Heather, , Chase NOOOO","gender":"F","address":"{\"street\":\"6888 Hicks Stream Suite 954\",\"city\":\"Manor\",\"state\":\"PA\",\"zip\":\"15665\"}","lat":"40.3359","long":"-79.6607","city_pop":"1472","job":"Public affairs consultant","dob":"1941-03-07"}        |
|{"person_name":"Melissa@Aguilar","gender":"F","address":"{\"street\":\"21326 Taylor Squares Suite 708\",\"city\":\"Clarksville\",\"state\":\"TN\",\"zip\":\"37040\"}","lat":"36.522","long":"-87.34899999999999","city_pop":"151785","job":"Pathologist","dob":"1974-03-28"}         |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [7]:
# look for null value for each column
# seems like there is null value for merch zipcode

df.select([
    sum(when(col(c).isNull(), 1).otherwise(0)).alias(c)
    for c in df.columns
]).show()

+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------+---------------------+---------+
|Unnamed: 0|amt|category|cc_bic|cc_num|is_fraud|merch_eff_time|merch_last_update_time|merch_lat|merch_long|merch_zipcode|merchant|personal_detail|trans_date_trans_time|trans_num|
+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------+---------------------+---------+
|         0|  0|       0|     0|     0|       0|             0|                     0|        0|         0|       195973|       0|              0|                    0|        0|
+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------+---------------------+---------+

In [8]:
# aware line 3 containing null string value
# change the condition to get all value where null 
# use lower case function to ignore the case

df.select([
    sum(when((lower(col(c)) == 'null' )| (lower(col(c)) == 'na'), 1).otherwise(0)).alias(c)
    for c in df.columns
]).show()

+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------+---------------------+---------+
|Unnamed: 0|amt|category|cc_bic|cc_num|is_fraud|merch_eff_time|merch_last_update_time|merch_lat|merch_long|merch_zipcode|merchant|personal_detail|trans_date_trans_time|trans_num|
+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------+---------------------+---------+
|         0|  0|       0|288599|     0|       0|             0|                     0|        0|         0|            0|       0|              0|                    0|        0|
+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------+---------------------+---------+

In [9]:
df.where((lower(col('cc_bic')) == 'null' )| (lower(col('cc_bic')) == 'na')).show()

+----------+------+-------------+------+-------------------+--------+----------------+----------------------+------------------+------------------+-------------+--------------------+--------------------+---------------------+--------------------+
|Unnamed: 0|   amt|     category|cc_bic|             cc_num|is_fraud|  merch_eff_time|merch_last_update_time|         merch_lat|        merch_long|merch_zipcode|            merchant|     personal_detail|trans_date_trans_time|           trans_num|
+----------+------+-------------+------+-------------------+--------+----------------+----------------------+------------------+------------------+-------------+--------------------+--------------------+---------------------+--------------------+
|         2|220.11|entertainment|  Null|     38859492057661|       0|1325376051506840|         1325376051286|         43.150704|       -112.154481|        83236|fraud_Lind-Buckridge|{"person_name":"E...|  2019-01-01 00:00:51|a1a22d70485983eac...|
|         7| 71.65|gas_transport|    NA|   6011360759745864|       0|1325376308837349|         1325376308152|         38.948089|        -78.540296|        22644|fraud_Corwin-Collins|{"person_name":"S...|  2019-01-01 00:05:08|6d294ed2cc447d2c7...|
|        25|  2.55|     misc_net|  Null|    343464013864032|       0|1325377087223427|          132537708776|          36.74987|         -78.67787|        23964| fraud_Kunde-Sanford|{"person_name":"J...|  2019-01-01 00:18:07|abe0676c18f34fa30...|
|        28| 90.22|  grocery_pos|    NA|4225990116481262579|       0|1325377326969473|         1325377326286|         19.560013|       -156.045889|        96740|     fraud_Kunze Inc|{"person_name":"B...|  2019-01-01 00:22:06|95826e3caa9e0b905...|
|        36|207.36|  grocery_pos|  Null|   3598215285024754|       0|1325377582383800|         1325377582231|         40.202538|        -73.859212|        07720|fraud_Heidenreich...|{"person_name":"A...|  2019-01-01 00:26:22|f246ac27c09429ff1...|
|        40|  53.6|gas_transport|    NA|       676372984911|       0|1325377849435213|         1325377849661|         40.332519|        -99.062962|        68947|fraud_Christianse...|{"person_name":"V...|  2019-01-01 00:30:49|f1566e9623814dd27...|
|        50| 103.0|  grocery_pos|    NA|   4265776278887457|       0|1325378238768102|         1325378238194|         35.034285|         -92.34301|        72032|fraud_Pacocha-O'R...|{"person_name":"C...|  2019-01-01 00:37:18|289789e617eece42a...|
|        52| 60.77|gas_transport|    NA|    213193596103206|       0|1325378377752163|         1325378377939|         45.323099|-85.11654300000001|        49720|    fraud_Huels-Hahn|{"person_name":"J...|  2019-01-01 00:39:37|211c26efcb0ed5e87...|
|        57| 58.26|  grocery_pos|  Null|   2356276337669917|       0|1325378458320757|         1325378458845|         39.240962|-76.71273199999999|        21227|fraud_Goldner, Ko...|{"person_name":"B...|  2019-01-01 00:40:58|d94f89d7360cd6bad...|
|        65|  2.76|     misc_net|  Null|   3536918668124647|       0|1325378778265884|         1325378778425|37.548452000000005|       -121.536454|        95377|fraud_Ferry, Lync...|{"person_name":"M...|  2019-01-01 00:46:18|70ca7fe41f09770d7...|
|        67|303.47|     misc_net|    NA|   4707867759656333|       0|1325378889406223|          132537888975|36.394203000000005|-82.51428299999999|        37615|fraud_Huel-Langworth|{"person_name":"S...|  2019-01-01 00:48:09|cdb332a151bdd568d...|
|        76| 94.53| shopping_net|    NA|    378006354724784|       0|1325379437932253|          132537943784|          37.84676|        -79.262334|        24435| fraud_Ankunding LLC|{"person_name":"C...|  2019-01-01 00:57:17|d513918bedeff4330...|
|        86| 50.68|  grocery_pos|    NA|   3518758680062249|       0|1325379888137302|         1325379888440|         38.482541|       -108.853856|         NULL|fraud_Vandervort-...|{"person_name":"A...|  2019-01-01 01:04:48|61861370b5c31b9c0...|
|        97| 50.74|  grocery_net|    NA|   3518234918950662|       0|1325380451339832|         1325380451245|34.266940999999996|        -96.709668|        73460|fraud_Jaskolski-D...|{"person_name":"B...|  2019-01-01 01:14:11|8ba96beff66354e33...|
|       110|  1.47|     misc_net|    NA|    348789608637806|       0|1325380997656687|         1325380997114|41.144859999999994|         -99.38762|        68855|   fraud_Kerluke Inc|{"person_name":"M...|  2019-01-01 01:23:17|6569a85a160476c67...|
|       116|  7.06|entertainment|    NA|   3592325941359225|       0|1325381302595183|          132538130287|         37.426207|        -76.502881|        23061|    fraud_Grimes LLC|{"person_name":"A...|  2019-01-01 01:28:22|d27fd7a3300953b0c...|
|       120|  38.7|  grocery_net|    NA|      4642894980163|       0|1325381502854715|         1325381502198|         39.880088|        -94.193907|        64497|fraud_Wuckert-Walter|{"person_name":"E...|  2019-01-01 01:31:42|83afa07b375903bed...|
|       122|  3.66|     misc_net|  Null|     30270432095985|       0|1325381548830782|         1325381548746|           40.7433|        -90.088705|        61572|fraud_Herman, Tre...|{"person_name":"L...|  2019-01-01 01:32:28|895bfdf48e8c52d12...|
|       124|134.66|  grocery_pos|    NA|   3567879740649740|       0|1325381557208538|         1325381557737|         43.994486|-75.60383900000001|        13619|  fraud_Rau and Sons|{"person_name":"T...|  2019-01-01 01:32:37|19853c021cb7ef4ff...|
|       128| 83.81|  grocery_pos|    NA|   6011104316292105|       0|1325381665501403|         1325381665208|36.822396000000005|        -78.452392|        23924|  fraud_Hudson-Ratke|{"person_name":"V...|  2019-01-01 01:34:25|4e00575ea0d37490f...|
+----------+------+-------------+------+-------------------+--------+----------------+----------------------+------------------+------------------+-------------+--------------------+--------------------+---------------------+--------------------+
only showing top 20 rows

### Data Transformation and Cleaning

This section focuses on transforming raw data into a structured format, handling missing values, correcting data types, and cleaning inconsistencies to ensure data quality and consistency.

In [10]:
transformed_df = df.select('*')

In [11]:
# Date transformation
# change all to same human readaber format
transformed_df = transformed_df.withColumn(
    "trans_date_trans_time",
    date_format(to_timestamp('trans_date_trans_time'), "yyyy-MM-dd HH:mm:ss.SSS")
)

transformed_df = transformed_df.withColumn(
    "merch_last_update_time",
    date_format(from_unixtime(col("merch_last_update_time") / 1000000), "yyyy-MM-dd HH:mm:ss.SSS")
)

transformed_df = transformed_df.withColumn(
    "merch_eff_time",
    date_format(from_unixtime(col("merch_eff_time") / 1000000), "yyyy-MM-dd HH:mm:ss.SSS")
)

In [12]:
# using from_json to explode the columns 
#   -> explode personal_detail 
#   -> explode personal_detail.address
# from_json required schema to explode a json string
# documentation : https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.functions.from_json.html


# create a function to take in schema + column to explode and return a dataframe
# expend the column and assign back to column nume, then explode into physical column and drop the original column 
# column state change: JsonString -> Json -> physical column 
def explode_json(df, col_name, schema):
    return df.withColumn(col_name, from_json(col(col_name), schema)).select(*df.columns,f'{col_name}.*').drop(col_name)

In [13]:
# define schema for personal details

personal_detail_schema = StructType([
    StructField("person_name", StringType()),
    StructField("gender", StringType()),
    StructField("address", StringType()),
    StructField("lat", StringType()),
    StructField("long", StringType()),
    StructField("city_pop", StringType()),
    StructField("job", StringType()),
    StructField("dob", StringType()),
])

address_schema =  StructType([
                    StructField("street", StringType()),
                    StructField("city", StringType()),
                    StructField("state", StringType()),
                    StructField("zip", StringType())
                ])

In [14]:
transformed_df = explode_json(transformed_df,'personal_detail',personal_detail_schema)

In [15]:
transformed_df.show(5)

+----------+------+-------------+-----------+----------------+--------+--------------------+----------------------+------------------+-----------+-------------+--------------------+---------------------+--------------------+--------------------+------+--------------------+-------+---------+--------+--------------------+----------+
|Unnamed: 0|   amt|     category|     cc_bic|          cc_num|is_fraud|      merch_eff_time|merch_last_update_time|         merch_lat| merch_long|merch_zipcode|            merchant|trans_date_trans_time|           trans_num|         person_name|gender|             address|    lat|     long|city_pop|                 job|       dob|
+----------+------+-------------+-----------+----------------+--------+--------------------+----------------------+------------------+-----------+-------------+--------------------+---------------------+--------------------+--------------------+------+--------------------+-------+---------+--------+--------------------+----------+
|         0|  4.97|     misc_net|CITIUS33CHI|2703186189652095|       0|2012-01-01 08:00:...|  1970-01-16 15:39:...|         36.011293| -82.048315|        28705|fraud_Rippin, Kub...| 2019-01-01 00:00:...|0b242abb623afc578...|Jennifer,Banks,eeeee|     F|{"street":"561 Pe...|36.0788| -81.1781|    3495|Psychologist, cou...|1988-03-09|
|         1|107.23|  grocery_pos|   ADMDUS41|    630423337322|       0|2012-01-01 08:00:...|  1970-01-02 20:18:...|49.159046999999994|-118.186462|         NULL|fraud_Heller, Gut...| 2019-01-01 00:00:...|1f76529f857473494...|Stephanie,Gill,eeeee|     F|{"street":"43039 ...|48.8878|-118.2105|     149|Special education...|1978-06-21|
|         2|220.11|entertainment|       Null|  38859492057661|       0|2012-01-01 08:00:...|  1970-01-16 15:39:...|         43.150704|-112.154481|        83236|fraud_Lind-Buckridge| 2019-01-01 00:00:...|a1a22d70485983eac...|      Edward@Sanchez|     M|{"street":"594 Wh...|42.1808| -112.262|    4154|Nature conservati...|1962-01-19|
|         3|  45.0|gas_transport|DEUTUS33TRF|3534093764340240|       0|2012-01-01 08:01:...|  1970-01-16 15:39:...|         47.034331|-112.561071|         NULL|fraud_Kutch, Herm...| 2019-01-01 00:01:...|6b849c168bdad6f86...|     Jeremy/White, !|     M|{"street":"9443 C...|46.2306|-112.1138|    1939|     Patent attorney|1967-01-12|
|         4| 41.96|     misc_pos|   APBCUS61| 375534208663984|       0|2012-01-01 08:03:...|  1970-01-02 20:18:...|         38.674999| -78.632459|        22844| fraud_Keeling-Crist| 2019-01-01 00:03:...|a41d7549acf907893...|        Tyler@Garcia|     M|{"street":"408 Br...|38.4207| -79.4629|      99|Dance movement ps...|1986-03-28|
+----------+------+-------------+-----------+----------------+--------+--------------------+----------------------+------------------+-----------+-------------+--------------------+---------------------+--------------------+--------------------+------+--------------------+-------+---------+--------+--------------------+----------+
only showing top 5 rows

In [16]:
transformed_df = explode_json(transformed_df,'address',address_schema)

In [17]:
transformed_df.show(5, truncate=False)

+----------+------+-------------+-----------+----------------+--------+-----------------------+-----------------------+------------------+-----------+-------------+----------------------------------+-----------------------+--------------------------------+--------------------+------+-------+---------+--------+---------------------------------+----------+----------------------------+--------------+-----+-----+
|Unnamed: 0|amt   |category     |cc_bic     |cc_num          |is_fraud|merch_eff_time         |merch_last_update_time |merch_lat         |merch_long |merch_zipcode|merchant                          |trans_date_trans_time  |trans_num                       |person_name         |gender|lat    |long     |city_pop|job                              |dob       |street                      |city          |state|zip  |
+----------+------+-------------+-----------+----------------+--------+-----------------------+-----------------------+------------------+-----------+-------------+----------------------------------+-----------------------+--------------------------------+--------------------+------+-------+---------+--------+---------------------------------+----------+----------------------------+--------------+-----+-----+
|0         |4.97  |misc_net     |CITIUS33CHI|2703186189652095|0       |2012-01-01 08:00:18.000|1970-01-16 15:39:36.000|36.011293         |-82.048315 |28705        |fraud_Rippin, Kub and Mann        |2019-01-01 00:00:18.000|0b242abb623afc578575680df30655b9|Jennifer,Banks,eeeee|F     |36.0788|-81.1781 |3495    |Psychologist, counselling        |1988-03-09|561 Perry Cove              |Moravian Falls|NC   |28654|
|1         |107.23|grocery_pos  |ADMDUS41   |630423337322    |0       |2012-01-01 08:00:44.000|1970-01-02 20:18:57.000|49.159046999999994|-118.186462|NULL         |fraud_Heller, Gutmann and Zieme   |2019-01-01 00:00:44.000|1f76529f8574734946361c461b024d99|Stephanie,Gill,eeeee|F     |48.8878|-118.2105|149     |Special educational needs teacher|1978-06-21|43039 Riley Greens Suite 393|Orient        |WA   |99160|
|2         |220.11|entertainment|Null       |38859492057661  |0       |2012-01-01 08:00:51.000|1970-01-16 15:39:36.000|43.150704         |-112.154481|83236        |fraud_Lind-Buckridge              |2019-01-01 00:00:51.000|a1a22d70485983eac12b5b88dad1cf95|Edward@Sanchez      |M     |42.1808|-112.262 |4154    |Nature conservation officer      |1962-01-19|594 White Dale Suite 530    |Malad City    |ID   |83252|
|3         |45.0  |gas_transport|DEUTUS33TRF|3534093764340240|0       |2012-01-01 08:01:16.000|1970-01-16 15:39:36.000|47.034331         |-112.561071|NULL         |fraud_Kutch, Hermiston and Farrell|2019-01-01 00:01:16.000|6b849c168bdad6f867558c3793159a81|Jeremy/White, !     |M     |46.2306|-112.1138|1939    |Patent attorney                  |1967-01-12|9443 Cynthia Court Apt. 038 |Boulder       |MT   |59632|
|4         |41.96 |misc_pos     |APBCUS61   |375534208663984 |0       |2012-01-01 08:03:06.000|1970-01-02 20:18:57.000|38.674999         |-78.632459 |22844        |fraud_Keeling-Crist               |2019-01-01 00:03:06.000|a41d7549acf90789359a9aa5346dcb46|Tyler@Garcia        |M     |38.4207|-79.4629 |99      |Dance movement psychotherapist   |1986-03-28|408 Bradley Rest            |Doe Hill      |VA   |24433|
+----------+------+-------------+-----------+----------------+--------+-----------------------+-----------------------+------------------+-----------+-------------+----------------------------------+-----------------------+--------------------------------+--------------------+------+-------+---------+--------+---------------------------------+----------+----------------------------+--------------+-----+-----+
only showing top 5 rows

In [18]:
#  splitting person_name into first name and last name using regular expression
#    -> data contain multiple delimiters
#    -> use \W+ to match any non-word character
#    -> \W+ : https://www.w3schools.com/jsref/jsref_obj_regexp.asp
transformed_df = transformed_df.withColumn('first',split(transformed_df['person_name'], '\W+').getItem(0))
transformed_df = transformed_df.withColumn('last',split(transformed_df['person_name'], '\W+').getItem(1))

In [19]:
# check data to ensure data extract correctly
transformed_df.select('person_name','first','last').show(20)

+--------------------+-----------+---------+
|         person_name|      first|     last|
+--------------------+-----------+---------+
|Jennifer,Banks,eeeee|   Jennifer|    Banks|
|Stephanie,Gill,eeeee|  Stephanie|     Gill|
|      Edward@Sanchez|     Edward|  Sanchez|
|     Jeremy/White, !|     Jeremy|    White|
|        Tyler@Garcia|      Tyler|   Garcia|
|Jennifer,Conner,e...|   Jennifer|   Conner|
|Kelsey, , Richard...|     Kelsey| Richards|
|    Steven, Williams|     Steven| Williams|
|Heather, , Chase ...|    Heather|    Chase|
|     Melissa@Aguilar|    Melissa|  Aguilar|
|     Eddie|Mendez!!!|      Eddie|   Mendez|
|   Theresa@Blackwell|    Theresa|Blackwell|
|   Charles|Robles!!!|    Charles|   Robles|
|           Jack@Hill|       Jack|     Hill|
|Christopher@Casta...|Christopher|Castaneda|
|       Ronald@Carson|     Ronald|   Carson|
|        Lisa, Mendez|       Lisa|   Mendez|
| Nathan,Thomas,eeeee|     Nathan|   Thomas|
|         Justin, Gay|     Justin|      Gay|
|Kenneth, , Robins...|    Kenneth| Robinson|
+--------------------+-----------+---------+
only showing top 20 rows

In [20]:
# drop person_name column
transformed_df = transformed_df.drop('person_name')
transformed_df.show(5)

+----------+------+-------------+-----------+----------------+--------+--------------------+----------------------+------------------+-----------+-------------+--------------------+---------------------+--------------------+------+-------+---------+--------+--------------------+----------+--------------------+--------------+-----+-----+---------+-------+
|Unnamed: 0|   amt|     category|     cc_bic|          cc_num|is_fraud|      merch_eff_time|merch_last_update_time|         merch_lat| merch_long|merch_zipcode|            merchant|trans_date_trans_time|           trans_num|gender|    lat|     long|city_pop|                 job|       dob|              street|          city|state|  zip|    first|   last|
+----------+------+-------------+-----------+----------------+--------+--------------------+----------------------+------------------+-----------+-------------+--------------------+---------------------+--------------------+------+-------+---------+--------+--------------------+----------+--------------------+--------------+-----+-----+---------+-------+
|         0|  4.97|     misc_net|CITIUS33CHI|2703186189652095|       0|2012-01-01 08:00:...|  1970-01-16 15:39:...|         36.011293| -82.048315|        28705|fraud_Rippin, Kub...| 2019-01-01 00:00:...|0b242abb623afc578...|     F|36.0788| -81.1781|    3495|Psychologist, cou...|1988-03-09|      561 Perry Cove|Moravian Falls|   NC|28654| Jennifer|  Banks|
|         1|107.23|  grocery_pos|   ADMDUS41|    630423337322|       0|2012-01-01 08:00:...|  1970-01-02 20:18:...|49.159046999999994|-118.186462|         NULL|fraud_Heller, Gut...| 2019-01-01 00:00:...|1f76529f857473494...|     F|48.8878|-118.2105|     149|Special education...|1978-06-21|43039 Riley Green...|        Orient|   WA|99160|Stephanie|   Gill|
|         2|220.11|entertainment|       Null|  38859492057661|       0|2012-01-01 08:00:...|  1970-01-16 15:39:...|         43.150704|-112.154481|        83236|fraud_Lind-Buckridge| 2019-01-01 00:00:...|a1a22d70485983eac...|     M|42.1808| -112.262|    4154|Nature conservati...|1962-01-19|594 White Dale Su...|    Malad City|   ID|83252|   Edward|Sanchez|
|         3|  45.0|gas_transport|DEUTUS33TRF|3534093764340240|       0|2012-01-01 08:01:...|  1970-01-16 15:39:...|         47.034331|-112.561071|         NULL|fraud_Kutch, Herm...| 2019-01-01 00:01:...|6b849c168bdad6f86...|     M|46.2306|-112.1138|    1939|     Patent attorney|1967-01-12|9443 Cynthia Cour...|       Boulder|   MT|59632|   Jeremy|  White|
|         4| 41.96|     misc_pos|   APBCUS61| 375534208663984|       0|2012-01-01 08:03:...|  1970-01-02 20:18:...|         38.674999| -78.632459|        22844| fraud_Keeling-Crist| 2019-01-01 00:03:...|a41d7549acf907893...|     M|38.4207| -79.4629|      99|Dance movement ps...|1986-03-28|    408 Bradley Rest|      Doe Hill|   VA|24433|    Tyler| Garcia|
+----------+------+-------------+-----------+----------------+--------+--------------------+----------------------+------------------+-----------+-------------+--------------------+---------------------+--------------------+------+-------+---------+--------+--------------------+----------+--------------------+--------------+-----+-----+---------+-------+
only showing top 5 rows

#### TRIM text column with space

In [21]:
trim_column = ['merchant','job','street','city','state']
for column in trim_column:
    df = transformed_df.withColumn(column, trim(column))

In [22]:
# check data
# transformed_df.withColumn('merchant', trim('merchant')).show(5, truncate=False)

#### Unable to find any relation for cc_bic & merch_zipcode to map
##### However decide not to drop the NA/Empty/Null row due to each transaction may impact on the overall analysis</br>Fill all unable to define as 'Undefined'

In [23]:
transformed_df.select('cc_bic').distinct().show()

+-----------+
|     cc_bic|
+-----------+
|   ADMDUS41|
|   ACEEUS31|
|DEUTUS33TRF|
|         NA|
|CITIUS33CHI|
|   AIABUS31|
|           |
|       Null|
|   APBCUS61|
+-----------+

In [24]:
transformed_df.show(5, truncate=False)

+----------+------+-------------+-----------+----------------+--------+-----------------------+-----------------------+------------------+-----------+-------------+----------------------------------+-----------------------+--------------------------------+------+-------+---------+--------+---------------------------------+----------+----------------------------+--------------+-----+-----+---------+-------+
|Unnamed: 0|amt   |category     |cc_bic     |cc_num          |is_fraud|merch_eff_time         |merch_last_update_time |merch_lat         |merch_long |merch_zipcode|merchant                          |trans_date_trans_time  |trans_num                       |gender|lat    |long     |city_pop|job                              |dob       |street                      |city          |state|zip  |first    |last   |
+----------+------+-------------+-----------+----------------+--------+-----------------------+-----------------------+------------------+-----------+-------------+----------------------------------+-----------------------+--------------------------------+------+-------+---------+--------+---------------------------------+----------+----------------------------+--------------+-----+-----+---------+-------+
|0         |4.97  |misc_net     |CITIUS33CHI|2703186189652095|0       |2012-01-01 08:00:18.000|1970-01-16 15:39:36.000|36.011293         |-82.048315 |28705        |fraud_Rippin, Kub and Mann        |2019-01-01 00:00:18.000|0b242abb623afc578575680df30655b9|F     |36.0788|-81.1781 |3495    |Psychologist, counselling        |1988-03-09|561 Perry Cove              |Moravian Falls|NC   |28654|Jennifer |Banks  |
|1         |107.23|grocery_pos  |ADMDUS41   |630423337322    |0       |2012-01-01 08:00:44.000|1970-01-02 20:18:57.000|49.159046999999994|-118.186462|NULL         |fraud_Heller, Gutmann and Zieme   |2019-01-01 00:00:44.000|1f76529f8574734946361c461b024d99|F     |48.8878|-118.2105|149     |Special educational needs teacher|1978-06-21|43039 Riley Greens Suite 393|Orient        |WA   |99160|Stephanie|Gill   |
|2         |220.11|entertainment|Null       |38859492057661  |0       |2012-01-01 08:00:51.000|1970-01-16 15:39:36.000|43.150704         |-112.154481|83236        |fraud_Lind-Buckridge              |2019-01-01 00:00:51.000|a1a22d70485983eac12b5b88dad1cf95|M     |42.1808|-112.262 |4154    |Nature conservation officer      |1962-01-19|594 White Dale Suite 530    |Malad City    |ID   |83252|Edward   |Sanchez|
|3         |45.0  |gas_transport|DEUTUS33TRF|3534093764340240|0       |2012-01-01 08:01:16.000|1970-01-16 15:39:36.000|47.034331         |-112.561071|NULL         |fraud_Kutch, Hermiston and Farrell|2019-01-01 00:01:16.000|6b849c168bdad6f867558c3793159a81|M     |46.2306|-112.1138|1939    |Patent attorney                  |1967-01-12|9443 Cynthia Court Apt. 038 |Boulder       |MT   |59632|Jeremy   |White  |
|4         |41.96 |misc_pos     |APBCUS61   |375534208663984 |0       |2012-01-01 08:03:06.000|1970-01-02 20:18:57.000|38.674999         |-78.632459 |22844        |fraud_Keeling-Crist               |2019-01-01 00:03:06.000|a41d7549acf90789359a9aa5346dcb46|M     |38.4207|-79.4629 |99      |Dance movement psychotherapist   |1986-03-28|408 Bradley Rest            |Doe Hill      |VA   |24433|Tyler    |Garcia |
+----------+------+-------------+-----------+----------------+--------+-----------------------+-----------------------+------------------+-----------+-------------+----------------------------------+-----------------------+--------------------------------+------+-------+---------+--------+---------------------------------+----------+----------------------------+--------------+-----+-----+---------+-------+
only showing top 5 rows

In [25]:
transformed_df = transformed_df.withColumn("cc_bic",when(col("cc_bic").isin("Null", "NA", ""), lit(None)).otherwise(col("cc_bic")))

In [26]:
# check null count
transformed_df.select([
    sum(when(col(c).isNull(), 1).otherwise(0)).alias(c)
    for c in transformed_df.columns
]).show()

+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------------+---------+------+---+----+--------+---+---+------+----+-----+---+-----+----+
|Unnamed: 0|amt|category|cc_bic|cc_num|is_fraud|merch_eff_time|merch_last_update_time|merch_lat|merch_long|merch_zipcode|merchant|trans_date_trans_time|trans_num|gender|lat|long|city_pop|job|dob|street|city|state|zip|first|last|
+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------------+---------+------+---+----+--------+---+---+------+----+-----+---+-----+----+
|         0|  0|       0|432980|     0|       0|             0|                     0|        0|         0|       195973|       0|                    0|        0|     0|  0|   0|       0|  0|  0|     0|   0|    0|  0|    0|   0|
+----------+---+--------+------+------+--------+--------------+----------------------+---------+----------+-------------+--------+---------------------+---------+------+---+----+--------+---+---+------+----+-----+---+-----+----+

In [27]:
transformed_df = transformed_df.fillna('undefined')

In [28]:
transformed_df.show(5)

+----------+------+-------------+-----------+----------------+--------+--------------------+----------------------+------------------+-----------+-------------+--------------------+---------------------+--------------------+------+-------+---------+--------+--------------------+----------+--------------------+--------------+-----+-----+---------+-------+
|Unnamed: 0|   amt|     category|     cc_bic|          cc_num|is_fraud|      merch_eff_time|merch_last_update_time|         merch_lat| merch_long|merch_zipcode|            merchant|trans_date_trans_time|           trans_num|gender|    lat|     long|city_pop|                 job|       dob|              street|          city|state|  zip|    first|   last|
+----------+------+-------------+-----------+----------------+--------+--------------------+----------------------+------------------+-----------+-------------+--------------------+---------------------+--------------------+------+-------+---------+--------+--------------------+----------+--------------------+--------------+-----+-----+---------+-------+
|         0|  4.97|     misc_net|CITIUS33CHI|2703186189652095|       0|2012-01-01 08:00:...|  1970-01-16 15:39:...|         36.011293| -82.048315|        28705|fraud_Rippin, Kub...| 2019-01-01 00:00:...|0b242abb623afc578...|     F|36.0788| -81.1781|    3495|Psychologist, cou...|1988-03-09|      561 Perry Cove|Moravian Falls|   NC|28654| Jennifer|  Banks|
|         1|107.23|  grocery_pos|   ADMDUS41|    630423337322|       0|2012-01-01 08:00:...|  1970-01-02 20:18:...|49.159046999999994|-118.186462|    undefined|fraud_Heller, Gut...| 2019-01-01 00:00:...|1f76529f857473494...|     F|48.8878|-118.2105|     149|Special education...|1978-06-21|43039 Riley Green...|        Orient|   WA|99160|Stephanie|   Gill|
|         2|220.11|entertainment|  undefined|  38859492057661|       0|2012-01-01 08:00:...|  1970-01-16 15:39:...|         43.150704|-112.154481|        83236|fraud_Lind-Buckridge| 2019-01-01 00:00:...|a1a22d70485983eac...|     M|42.1808| -112.262|    4154|Nature conservati...|1962-01-19|594 White Dale Su...|    Malad City|   ID|83252|   Edward|Sanchez|
|         3|  45.0|gas_transport|DEUTUS33TRF|3534093764340240|       0|2012-01-01 08:01:...|  1970-01-16 15:39:...|         47.034331|-112.561071|    undefined|fraud_Kutch, Herm...| 2019-01-01 00:01:...|6b849c168bdad6f86...|     M|46.2306|-112.1138|    1939|     Patent attorney|1967-01-12|9443 Cynthia Cour...|       Boulder|   MT|59632|   Jeremy|  White|
|         4| 41.96|     misc_pos|   APBCUS61| 375534208663984|       0|2012-01-01 08:03:...|  1970-01-02 20:18:...|         38.674999| -78.632459|        22844| fraud_Keeling-Crist| 2019-01-01 00:03:...|a41d7549acf907893...|     M|38.4207| -79.4629|      99|Dance movement ps...|1986-03-28|    408 Bradley Rest|      Doe Hill|   VA|24433|    Tyler| Garcia|
+----------+------+-------------+-----------+----------------+--------+--------------------+----------------------+------------------+-----------+-------------+--------------------+---------------------+--------------------+------+-------+---------+--------+--------------------+----------+--------------------+--------------+-----+-----+---------+-------+
only showing top 5 rows

In [29]:
# change the data type for further analysis

transformed_df = transformed_df.withColumn("amt", col("amt").cast(DoubleType())) \
                                .withColumn("lat", col("lat").cast(DoubleType())) \
                                .withColumn("long", col("long").cast(DoubleType())) \
                                .withColumn("city_pop", col("city_pop").cast(IntegerType())) \
                                .withColumn("merch_lat", col("merch_lat").cast(DoubleType())) \
                                .withColumn("merch_long", col("merch_long").cast(DoubleType())) \
                                .withColumn("is_fraud", col("is_fraud").cast(IntegerType())) \
                                .withColumn("zip", col("zip").cast(StringType())) \
                                .withColumn("merch_zipcode", col("merch_zipcode").cast(StringType()))

In [30]:
# select column to load as output
transformed_df = transformed_df.select(
                        col("Unnamed: 0"), 
                        col("trans_date_trans_time"),
                        col("cc_num"), 
                        col("merchant"),
                        col("category"),
                        col("amt"),
                        col("first"),
                        col("last"),
                        col("gender"),
                        col("street"),
                        col("city"),
                        col("state"),
                        col("zip"),
                        col("lat"),
                        col("long"),
                        col("city_pop"),
                        col("job"),
                        col("dob"),
                        col("trans_num"),
                        col("merch_lat"),
                        col("merch_long"),
                        col("is_fraud"),
                        col("merch_zipcode"),
                        col("merch_last_update_time"),
                        col("merch_eff_time"),
                        col("cc_bic")
                )

In [31]:
# check transformed schema
transformed_df.printSchema()

root
 |-- Unnamed: 0: string (nullable = false)
 |-- trans_date_trans_time: string (nullable = false)
 |-- cc_num: string (nullable = false)
 |-- merchant: string (nullable = false)
 |-- category: string (nullable = false)
 |-- amt: double (nullable = true)
 |-- first: string (nullable = false)
 |-- last: string (nullable = false)
 |-- gender: string (nullable = false)
 |-- street: string (nullable = false)
 |-- city: string (nullable = false)
 |-- state: string (nullable = false)
 |-- zip: string (nullable = false)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- city_pop: integer (nullable = true)
 |-- job: string (nullable = false)
 |-- dob: string (nullable = false)
 |-- trans_num: string (nullable = false)
 |-- merch_lat: double (nullable = true)
 |-- merch_long: double (nullable = true)
 |-- is_fraud: integer (nullable = true)
 |-- merch_zipcode: string (nullable = false)
 |-- merch_last_update_time: string (nullable = false)
 |-- merch_eff_time: string (nullable = false)
 |-- cc_bic: string (nullable = false)

#### confirm the number before transformation and after transformation is same

In [32]:
transformed_df.count()

1296675

In [33]:
df.count()

1296675

#### loaded into currated zone for further transformation/ analysis </br> note: No data partition

In [35]:
transformed_df.write.partitionBy("cc_bic", "category", "gender").mode('overwrite').parquet('currated_cc_credit_card/cc_credit_card_currated.parquet')

In [36]:
spark.stop()